h2 {
	text-align: center;
	
	font-family: 'Libre Caslon Display', serif;
	
	font-size: 37px;
	
	font-style: italic;
	
	color: white;
	
	background-color: black;
	
	margin-top: 5%
}
	
p {
	
	text-align: center;
}

img {
	
	display: block;
	
	width: 85%;
	
	margin-left: auto;
	
	margin-right: auto;
}
	
	
a {
	
	display: block;;
	
	margin-left: auto;
	
	margin-right: auto;
		
	text-align: center;
	
	text-decoration-line: none;
	
	font-family: 'Pinyon Script', cursive;
	
	font-size: 30px;
	
	color: black;
	
}

#iscrizione {

background-color: black;

color: white;
	
}

a:hover {
	
	color: #cf0606;
}

body {
	
	margin: auto auto auto auto;
}

@media screen and (max-width: 600px) {
	
	h2 {
		
		margin-top: 40%;
		
	}
	
	#iscrizione {
		
		margin-top: 10%;
	}
	
}
